springboot-camp/HELP.md
springboot-camp/target/
!springboot-camp/.mvn/wrapper/maven-wrapper.jar
!springboot-camp/**/src/main/**
!springboot-camp/**/src/test/**

### STS ###
springboot-camp/.apt_generated
springboot-camp/.classpath
springboot-camp/.factorypath
springboot-camp/.project
springboot-camp/.settings
springboot-camp/.springBeans
springboot-camp/.sts4-cache

### IntelliJ IDEA ###
springboot-camp/.idea
springboot-camp/*.iws
springboot-camp/*.iml
springboot-camp/*.ipr

### NetBeans ###
springboot-camp/nbproject/private/
springboot-camp/nbbuild/
springboot-camp/dist/
springboot-camp/nbdist/
springboot-camp/.nb-gradle/
springboot-camp/build/

### VS Code ###
springboot-camp/.vscode/

### Vue Code ###
uniapp-camp/unpackage/


iView-camp/.DS_Store
iView-camp/node_modules
iView-camp/dist
iView-camp/tests/e2e/videos/
iView-camp/tests/e2e/screenshots/

# local env files
iView-camp/.env.local
iView-camp/.env.*.local

# Log files
iView-camp/npm-debug.log*
iView-camp/yarn-debug.log*
iView-camp/yarn-error.log*

# Editor directories and files
iView-camp/.idea
iView-camp/.vscode
iView-camp/*.suo
iView-camp/*.ntvs*
iView-camp/*.njsproj
iView-camp/*.sln
iView-camp/*.sw*
iView-camp/build/env.js


antd-pro-camp/.DS_Store
antd-pro-camp/node_modules
antd-pro-camp/dist

# local env files
antd-pro-camp/.env.local
antd-pro-camp/.env.*.local

# Log files
antd-pro-camp/npm-debug.log*
antd-pro-camp/yarn-debug.log*
antd-pro-camp/yarn-error.log*

# Editor directories and files
antd-pro-camp/.idea
antd-pro-camp/.vscode
antd-pro-camp/*.suo
antd-pro-camp/*.ntvs*
antd-pro-camp/*.njsproj
antd-pro-camp/*.sln
antd-pro-camp/*.sw*
