.task-pane {
	width: 100%;
	height: 100%;
	/* background-color: #FFFFFF; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
}
.task-one-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 200upx;
	height: 200upx;
	border-radius: 100upx;
	background-color: #304886;
	text-shadow: 0 1px 0 #f3f0f3;
	box-shadow: 0 1px 0 #616a74 inset, 0 1px 5px #aaffff;
}
.navigator-hover {
	background: linear-gradient(top, #32acfe, #afcbe3);
}
.task-one-icon {
	font-size: 60upx;
	color: #FFFFFF;
}
.task-txt {
	/* margin-top: 8upx; */
	font-size: 13px;
	color: #FFFFFF;
}