.position-class {
	position: relative;
}
.position-absolute {
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
}
.header-area {
	padding-top: 80upx;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #00C1DE;
}
.tab-class {
	font-size: 35upx;
}
.header-area-back-icon {
	font-size: 25px;
}
.header-area-statistics-icon {
	font-size: 25px;
	margin-right: 30upx;
}

/* 标签页 start */
.tabContent-wrapper {
	color: #333333;
	background-color: #ffffff;
	padding: 30upx;
	margin-top: 100upx;
}
/* 标签页 end */

.card-wrapper {
	overflow: hidden;
	position: relative;
	/* height: 1400upx; */
}
.scroll-box-wrapper {
	width: 100%;
}
.scroll-box {
	/* white-space: nowrap; */
	/* text-align: center; */
	/* height: 1000upx; */
}
.card-box {
/* 	display: inline-block;
	width: 100%; */
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	border-radius: 4upx;
	background-color: #FFFFFF;
	margin: 30upx 20upx 30upx 20upx;
	padding: 40upx 40upx 40upx 40upx;
}

/* 题目类型样式 */
.question-type {
	font-size: 16px;
}

/* 题目标题部分样式 */
.question-title {
	font-size: 18px;
	font-weight: bold;
	color: #27274A;
	margin-bottom: 50upx;
}
/* 选项部分样式 */
.option-wrapper {
	min-height: 80upx;
}
.option-line {
	background: #F5F7FA;
	border-radius: 4px;
	min-height: 50px;
	width: 100%;
	font-size: 18px;
	color: #27274A;
	line-height: 50px;
	margin-bottom: 10px;
	position: relative;
	word-break: break-word;
}
.option-words {
	font-size: 16px;
	margin-left: 10upx;
}

/* 题目状态部分样式 */
.status-content-wrapper {
	display: block;
}
.status-content-icon-container {
	display: inline-block;
	padding: 1upx 1upx 1upx 1upx;
	width: 22upx;
	height: 22upx;
}
.status-content {
	display: inline-block;
	margin-left: 20upx;
	font-size: 18px;
	font-weight: bold;
}

/* 题目分析区 */
.analysis {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 22upx;
}
.analysis-ans-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.analysis-ans-title {
	font-size: 16px;
	color: #000000;
}
.analysis-ans-content-wrapper {
	margin-left: 20upx;
	font-size: 16px;
	color: #1A8CFE;
}
.analysis-ans-content {
	color: #1A8CFE;
	font-weight: bold;
}
.analysis-desc-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 28upx;
}
.analysis-desc-title {
	font-size: 16px;
	color: #000000;
}
.analysis-desc-content {
	font-size: 16px;
	color: #000000;
	margin-left: 15upx;
	word-wrap: break-word;
}

/* 统计题目面板 */
.number-card {
	display: block;
	position: relative;
	padding: 100upx 20upx 30upx 20upx;
	z-index: 1000;
	background: #f0f3f7;
	min-height: 100%;
	margin-top: 180upx;
}
.card-content {
	padding: 10upx;
	padding-bottom: 20upx;
	/* margin-bottom: 10upx; */
	background: #FFFFFF;
	border-radius: 4upx;
}
.card-content-title {
	font-size: 18px;
	color: #27274A;
	line-height: 21upx;
	margin-bottom: 22upx;
}
.split {
	border-bottom: 1upx solid #E6E6E6;
}
.box-list {
	padding: 0 5upx;
	margin-right: -17upx;
}
.box {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 20upx 17upx 0 0;
	align-items: center;
	flex-wrap: wrap;
}
.iconBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80upx;
	height: 80upx;
	border-radius: 40upx;
	color: #FFFFFF;
}
.icon-answer-no {
	background: red;
}
.icon-answer-yes {
	background: green;
}