/* 左边侧滑栏 start */
.left-nav-head-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10upx;
	border-bottom: 5upx solid #bbbbbb;
}
.left-nav-head-title-wrapper {
	padding: 5upx;
}
.left-nav-head-title {
	font-size: 15px;
	font-weight: bold;
}
.left-nav-head-backicon-wrapper {
	/* padding: 1upx; */
}
.left-nav-head-backicon {
	font-size: 20px;
	font-weight: bold;
}
.left-nav-prodList-wrapper {
	margin-top: 30upx;
}
.left-nav-prodList-item {
	
}
/* 左边侧滑栏 end */

/* 顶部蓝色导航栏 start */
.top-nav-wrapper {
	width: 100%;
	height: 50upx;
	margin-top: 0upx;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10upx;
	background: #27a9e6;
	z-index: 100;
}
.top-nav-directory-wrapper {
	padding: 5upx;
}
.top-nav-directoryicon{
	font-size: 14px;
	color: white;
}
.top-nav-title {
	margin-left: 15upx;
	font-size: 14px;
	color: white;
	font-weight: bold;
}
.top-nav-search-wrapper {
	margin-right: 20upx;
	margin-top: 5upx;
}
.top-nav-searchicon {
	font-size: 14px;
	color: white;
}
/* 顶部蓝色导航栏 end */

/* 预告片video start */
.player {
	padding-top: 50upx;
	display: flex;
	justify-content: center;
	background: black;
}

.movie {
	width: 100%;
	height: 440upx;
}

/* 预告片video end */

/* 影片信息start */
.productInfo {
	display: flex;
	flex-direction: column;
}

.prod-desc-wrapper {
	display: flex;
	flex-direction: column;
	padding: 20upx;
}
.prod-scenario-wrapper {
	display: flex;
	flex-direction: column;
	padding: 20upx;
}

.prod-title {
	font-size: 16px;
	font-weight: bold;
}
.prod-desc {
	font-size: 13px;
}
.prod-scenario {
	font-size: 13px;
}
.prod-course-wrapper {
	display: flex;
	flex-direction: column;
	padding: 15upx;
}
.prod-lesson-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 15upx;
}
.prod-lesson-item-wrapper {
	display: flex;
	flex-direction: row;
	padding-top: 20upx;
	padding-bottom: 20upx;
}
.chart-wrapper {
	margin-top: 10upx;
	line-height: 20upx;
}
.prod-lesson-item-title {
	margin-left: 45upx;
	line-height: 40upx;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.prod-example-wrapper {
	display: flex;
	flex-direction: column;
	padding: 15upx;
}
.prod-example-item-wrapper {
	display: flex;
	flex-direction: column;
	padding-top: 15upx;
	padding-bottom: 15upx;
}
.prod-example-title {
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.prod-example-content {
	margin-top: 20upx;
	font-size: 14px;
	line-height: 35upx;
	text-indent: 30px;
}

.cover {
	width: 280upx;
	height: 380upx;
}

.productDesc {
	display: flex;
	flex-direction: column;
	margin-left: 30upx;
	width: 400upx;
}

.title {
	font-size: 30px;
}

.basic-info {
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: darkgray;
	line-height: 36upx;
}

/* 评分块start */
.score-block {
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 20upx;
	width: 360upx;
	height: 120upx;
	padding: 20upx;
	box-shadow: 3px 2px 10px #dedede;
}

.big-score {
	display: flex;
	flex-direction: column;
	margin-left: 10upx;
}

.score-words {
	font-size: 15px;
	color: grey;
}

.movie-score {
	font-size: 26px;
	font-weight: bold;
	margin-left: 8upx;
	color: #FEAB2A;
	line-height: 60upx;
}

.score-stars {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.praise-counts {
	font-size: 20px;
	color: grey;
	line-height: 44upx;
}

/* 评分块stop */
/* 影片信息end */

/* 剧情介绍start */
.plots-block {
	padding: 20upx 40upx;
	background-color: #f7f4f9;
}

.plots-title {
	color: #A9A9A9;
	font-size: 14px;
}

.plots-desc {
	margin-top: 10upx;
	font-size: 16px;
}

/* 剧情介绍end */
