.margin-top-8{
    margin-top: 8px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.margin-right-10{
    margin-right: 10px;
}
.padding-left-6{
    padding-left: 6px;
}
.padding-left-8{
    padding-left: 5px;
}
.padding-left-10{
    padding-left: 10px;
}
.padding-left-20{
    padding-left: 20px;
}
.height-100{
    height: 100%;
}
.height-120px{
    height: 100px;
}
.height-200px{
    height: 200px;
}
.height-492px{
    height: 492px;
}
.height-460px{
    height: 460px;
}
.line-gray{
    height: 0;
    border-bottom: 2px solid #dcdcdc;
}
.notwrap{
    word-break:keep-all;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.padding-left-5{
    padding-left: 10px;
}
[v-cloak]{
    display: none;
}

.icon-box-wrapper {
  width:60px;
  height:60px;
  border:2px dashed #000;
  position:relative;
}
.iconContent {
  width:40px;
  height:40px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}
.dialog-footer {
  text-align: center;
}

.icon-for-chosen-box-wrapper {
  width:60px;
  height:60px;
  background: rgb(236, 238, 240);
  position:relative;
  transition: all ease 1s;
}
.icon-for-chosen-box-wrapper:hover {
  box-shadow: 2px 2px 1px #888888;
}

.dialog-footer {
  text-align: center;
}


